<div class="input-side">
  <!--input for title of note-->
  <div [style.border]="this.tempTitle.length < 5 || this.tempDescription.length < 7 ? 'solid 5px red' : ''" class="input-wrapper">
    <input 
      [style.border]="this.tempTitle.length < 5 ? 'solid 5px red' : ''" class="input-wrapper"
      (input)="saveTitle($event)" 
      type="text" 
      name="title"
      placeholder="Заглавие"
      [value]="tempTitle"
      class="input-title">
    @if (this.tempTitle.length < 5) {
      <p class="error">Заглавието трябва да е повече от 5 символа</p>
    }
    <!--input for description of note-->
    <input
      [style.border]="this.tempDescription.length < 7 ? 'solid 5px red' : ''" class="input-wrapper"
      (input)="saveDescription($event)" 
      type="text" 
      name="note"
      placeholder="Бележка..."
      [value]="tempDescription"
      class="input-description">
    @if (this.tempDescription.length < 7) {
      <p class="error">Бележката трябва да е повече от 7 символа</p>
    }
    <!--save button-->
      <button 
        (click)="saveNote()"
        class="input-button">
        Запази бележката
      </button>
  </div>
</div>
<div class="notes-side">
  @for (note of notes; track $index) {
    <div class="note" (click)="selectNote($index)">
      <div class="note-title">
        <h1>
          {{note.title}}
        </h1>
      </div>
      <div class="note-description">
        <p class="note-para">          
          {{note.description}}
        </p>
      </div>
      @if (note.isSelected) {
        <button (click)="editNote()" class="note-button">Редактиране</button>
        <button (click)="deleteNote()" class="note-button">Премахване</button>
      }
    </div>
  }
</div>